* {
    padding; 0;
    margin: 0;
}

html {
    font: 16px;
    overflow: scroll;
}

body {
    overflow: auto;
    background-color: hsla(4, 82%, 96%, 1);
}

#container-navbar {
    width: 250px;
    overflow: hidden;
    background: #d6ffcc;
    box-sizing: border-box;
}

.navbar h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 3rem;
    color: black;
    padding: 1em 0;
}

.imgwrapper {
    width: 200px;
    height: auto;
    display: block;
    margin: 0px auto;
    padding-bottom: 2em;
}

.navbar {
    background-image: url(http://68.media.tumblr.com/tumblr_m8lrzneQ6s1rdbpi2o1_500.png);
    width: 250px;
    float: left;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
}

.bio {
    text-align: center;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    font-size: 1rem;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Roboto Condensed", sans-serif;
    color: #ff70cd;
    background-color: hsla(360, 100%, 100%, 0.7);
    font-style: italic;
    display: block;
}

.navbar ul li{
    position: ;
    list-style: none;
    font-size: 1.3rem;
}

.navbar ul {
    padding-bottom: 3em;
    padding-top: 3em;
}

.navbar li {
    background-color: hsla(360, 100%, 100%, 0.7);
    padding-left: 1em;
    padding-right: 1em;
    margin-left: -1em;
    margin-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.navbar a {
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: hsla(321, 100%, 72%, 1);
}

#content {
    width: 100%;
}

.maincontent {
    margin-left: 280px;
    background: #ffffff;
    float: right;
    background-color: hsla(4, 82%, 96%, 1);
    padding-top: 2em;
    padding-right: 2em;
}

.maincontent h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: :10px;
    padding-bottom: 10px;
    color: #ff70cd;
    background-color: hsla(360, 100%, 100%, 0.7);
    
}

.maincontent h2, .maincontent p {
    padding-right: 30px;
}

.maincontent p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    font-size: 0.9em;
    color: palevioletred;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: hsla(360, 100%, 100%, 0.7);
}

@media only screen and (max-width: 768px) {
  
    .navbar, #container-navbar {
      width: 100%;
      float: left;
      position: static;
    }

    .navbar ul li {
      text-align: center;
    }
    
    .maincontent, #content {
      width: 100%;
      clear: left;
      margin: 0;
      padding: 0;
      }
      
     .maincontent h2 {
       padding: 5%;
       text-align: center;
     }
     
     .maincontent p {
       padding: 10%;
     }
}
